<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="../blog-style.css">
</head>
<body style="background-image: url('<%= blog.imagePath.replace('blogsupload\\', '../') %>');">

<div class="blog-container">
    <div class="blog-img" style="background-image: url('<%= blog.imagePath.replace('blogsupload\\', '../') %>');">
    </div>
    <div class="blog-text-content">
        <h2><%= blog.title %></h2>
        <p class="blog-text-content-date">Published at: <%= blog.date.toLocaleDateString() %></p>
        <p class="blog-blog-body"><%- blog.body %></p>
    </div>
</div>


</body>
</html>